/* 基本スタイル (320px〜480px) */
/* ネオ大焼肉 エース */
html {
    background-color: #000;
}

.header {
    margin: 0;
    padding: 0;
    background-color: #D9D4CE;
    width: 100%;
    height: 67px;
    flex-shrink: 0;
    position: fixed;
    z-index:1;
    top:0px;
}

.maintitle {
    display: flex;
    width: 85%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #000;
    text-align: center;
    font-family: Kaisei HarunoUmi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    flex-shrink: 0;
    background: #000;
    margin: auto 0 0 auto;
}

.mainvisual {
    display: block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

main.mainvisual img {
    /* セレクタの修正 */
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.photo-text {
    writing-mode: vertical-rl;
    color: #ffffff;
    position: absolute;
    right: 30px;
    top: 60%;
    /* 上部から中央に配置 */
    transform: translateY(-50%);
    /* 中央揃えのための調整 */
    font-size: 23px;
    width: 23px;
    height: 300px;
    line-height: 2em;
    /* ここで行の高さ（文字間隔）を設定 */
    font-family: kaisei HarunoUmi;
}

.container {
    position: relative;
    width: 100%;
    height: 600px;
    /* コンテナの高さを必要に応じて調整してください。 */
    overflow: hidden;
    /* はみ出した要素を非表示にします。 */
}

/* 基本の回転画像スタイル。 */
.rotated-image2,
.rotated-image3 {
    position: absolute;
    /* 絶対位置指定でコンテナ内を自由に動かせます。 */
    transform: rotate(-45deg);
    /* 45度回転。 */
    /* `top` と `left` を使用して配置を制御します。 */
}

.rotated-image {
    width: 270px;
    top: 20px;
    /* 位置を調整してください。 */
    left: 30px;
    /* 位置を調整してください。 */
    transform: rotate(45deg);
    /* 45度回転。 */
    position: absolute;
}

.rotated-image2 {
    width: 185px;
    height: 185px;
    top: 250px;
    /* 位置を調整してください。 */
    left: 240px;
    /* 位置を調整してください。 */
}

.rotated-image3 {
    width: 180px;
    height: 180px;
    top: 380px;
    /* 位置を調整してください。 */
    left: 80px;
    /* 位置を調整してください。 */
}


.container3 {
    width: 100%;
    height: 200px;
    position: relative;
}


.container2 {
    display: flex;
    justify-content: center;
    /* 水平方向の中央揃え */
    align-items: center;
    /* 垂直方向の中央揃え */
}

.rotated-image4,
.rotated-image5 {
    transform: rotate(-45deg);
    width: 100px;
    height: 100px;
    position: absolute;
}

.rotated-image4 {
    left: 42px;
    bottom: 50px;
}

.rotated-image5 {
    right: 33px;
    bottom: 50px;
}

.text-Container {
    display: flex;
    width: 100%;
    height: 125px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: 0px 10px 0px 10px;
    border: 1px solid rgb(255, 255, 255);
    /* 枠線を設定 */

    color: #FFF;

    text-align: center;
    font-family: Kaisei HarunoUmi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.text {
    color: #FFF;
    text-align: left;
    font-family: Kaisei HarunoUmi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10%;
}

.shop-photo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.shop-photo img {
    width: 100%;
}


.text-syo-sai {
    display: flex;
    /* フレックスコンテナを定義 */
    flex-direction: row;
    /* 子要素を横方向に配置 */
    color: #FFF;
    text-align: left;
    font-family: Kaisei HarunoUmi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 20px 5px 20px;
}

.spacer {
    flex-grow: 2;
    /* この空白スペーサーがテキストの2倍の空間を取るように設定 */
}

.text-Container2 {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    justify-content: top;
    flex-shrink: 0;

    text-align: left;
    font-family: Kaisei HarunoUmi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    margin: 5px 20px 5px 20px;
}

.text-Container3 {
    display: flex;
    width: 100%;
    height: 125px;
    flex-direction: column;
    justify-content: top;
    flex-shrink: 0;

    text-align: left;
    font-family: Kaisei HarunoUmi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    margin: 5px 20px 5px 20px;
}

.right-text {
    display: flex;
    justify-content: flex-end;
    margin: 5px 20px 5px 20px;
    color: #FFF;
    font-family: Kaisei HarunoUmi;
}

.cancel {
    width: 100%;
    height: 400px;
    text-align: center;
    /* この行を追加 */
}

.cancel h3 {
    color: #FFF;
    margin: 10%;
    /* ここはお好みに応じて */
}

.cancel span {
    color: #FFF;
    font-family: 'Kaisei HarunoUmi';
    font-size: 20px;
    /* width: 100%; この行は削除 */
    /* text-align: center; この行は不要なので削除 */
}


.background-image {
    background-image: url('../images/Rectangle\ 26.jpg');
    /* 背景画像を設定し、他のスタイルを上書き */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* 要素の幅を画面全体にする場合 */
    height: 500px;
    /* 高さを指定 */
}

/* タブレット向けのスタイル */
@media (min-width: 768px) {}

/* コースメニュー */
/* 基本スタイル (320px〜480px) */
.course-menu {
    color: #FFF;
    margin: 15px;
    width: 40%;
}

.photo {
    width: 150px;
    height: 150px;
    margin: 15px;
}

.course-container {
    display: flex;

}

.shape {
    width: 150px;
    height: 140px;
    position: relative;
}

.shape img {
    width: 100%;
    /* 親要素に合わせて画像を伸ばす */
    height: auto;
    /* 画像の元のアスペクト比を維持する */
    transform: rotate(45deg);
}

.shape p {
    position: absolute;
    top: 10%;
    /* 要素をshapeの上辺に沿わせる */
    left: 50%;
    /* 要素を左右中央に配置する */
    transform: translateX(-50%);
    /* 要素の幅の半分だけ左に移動させる */
    padding: 5px 10px;
    /* テキストの周りに余白を設定する */
    width: 80%;
    /* 必要に応じて調整 */
    text-align: center;
    /* テキストを中央揃えにする */
}

.price {
    font-family: 'Kaisei HarunoUmi';
    color: #FFF;
    text-align: center;
}

.explanation {
    font-family: 'Kaisei HarunoUmi';
    color: #FFF;
    text-align: center;
    margin: 0.3rem 0.6rem 0.3rem 0.6rem;
}

.explanation-special {
    font-family: 'Kaisei HarunoUmi';
    color: #FFF;
    text-align: center;
    margin: 0.3rem 3rem 0.3rem 3rem;
    padding: 5px
}

.explanation-container {
    background-image: url("../images/Rectangle 25.jpg");
    width:100%;
}


/* メニューのスタイル */
.menu {
    width: 100%;
    /* メニューの幅 */
    height: 100%;
    overflow: hidden;
    color: #FFF;
    margin-top: 30%;
}

/* メニュー項目のスタイル */
.menu-item {
    padding: 10px 20px;
    /* パディング */
    text-align: center;
    /* 中央揃え */
    margin: top 20px;
    ;
}

/* メニュー項目をホバーしたときのスタイル */
.menu-item:hover {
    background-color: #555;
    cursor: pointer;
}

/* アクティブなメニュー項目のスタイル */
.active {
    font-weight: bold;
    /* 文字を太く */
}

/* ボタンのスタイル */
.button {
    background: #A3A3A3;
    /* ボタンの背景色 */
    color: #fff;
    /* ボタンの文字色 */
    padding: 10px 20px;
    /* パディング */
    text-align: center;
    /* 中央揃え */
    display: block;
    /* ブロック要素として表示 */
    margin: 10px auto;
    /* 上下のマージン */
    width: 80%;
    /* ボタンの幅 */
    border: none;
    /* 枠線なし */
    transition: background-color 0.3s;
    /* 背景色の変化を滑らかに */
}

/* ボタンをホバーしたときのスタイル */
.button:hover {
    background-color: #777;
    cursor: pointer;
}

.backgroud {
    width: 100%;
    background-image: url("../images/Rectangle\ 27.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 要素の幅を画面全体にする場合 */
    height: 316px;
    /* 高さを指定 */
}